* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
       
  /* Scrollbar container */
  body::-webkit-scrollbar {
    width: 0px; /* Width of the scrollbar */
    height: 0px; /* Height of the scrollbar (for horizontal scrollbars) */
  }
  